<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">

    <title>About Me - Adventruascape</title>
</head>
<body>
    <h1>About ME</h1>
    <p>
        Hello, adventurers! I'm Akber, the founder of Adventruascape. 
        My journey began as a child, where weekends were filled with treks in the forest, family boating trips, nights by the campfire, and countless hours gazing up at the sky and dreaming of flying.
        As I grew older, I realized that the essence of life lies in the experiences we gather, and more importantly, in the elemental connection we have with our planet.
        This realization led to the birth of Adventruascape, a culmination of my passions and a desire to offer once-in-a-lifetime experiences rooted in the core elements of Earth, Wind, Fire, and Air.
        When I'm not curating new and thrilling experiences for you, you'll find me zip-lining through dense forests, paragliding over serene landscapes, or perhaps experimenting with a new aquatic adventure.
        My mission with Adventruascape is not just to sell experiences, but to share a piece of my world, my passions, and the elemental beauty of our planet.
        Join me, and let's create memories that resonate with the very core of our being!
    </p>
    <div>
        <img src="\static\star.png" class="about_img">

    </div>


</body>

</html>